<ion-view view-title="Expérience professionnelle">
  <ion-content class="padding">

  <div class="divBen item-avatar personal">
      <img id="picture" src="img/Leo.png" class="profilAvatar"></img>
      <p>Léo Dumortier</p>
      <p>22ans</p>

    </div>
    
    <div class="list card">
    
      <p class="intitulé">Développeur application mobile, Crédit Mutuel :</p>
      <div class="col col-90 column-connexion">
     
       <p>Développement d'une application mobile hybride sous Ionic/Cordova/AngularJS.</p>
   
      </div>

    </div>

    <div class="list card">
    
      <p class="intitulé">Développeur web indépendant, Domaine Benastra :</p>
      
      <div class="col col-90 column-connexion">
      
      <p>Développement d'un site web vitrine pour un producteur de vin.</p>
      <p>JEE | HTML5/CSS3 | Hébergement sur serveur virtuel.</p>
      <p>http://domainebenastra.fr/</p>
      
      </div>

    </div>

    <div class="list card">
    
      <p class="intitulé">Suivi d'une démarche d'urbanisation, Kéolis :</p>
      
      <div class="col col-90 column-connexion">
      
      <p>Travail sur le système d'information dont : Audit, analyse d'impact, étude de choix, simulation budgétaire et trajectoire.</p>

      <p>Sous 4 visions du SI : Métier (Processus), Fonctionnel, Applicatif, Technique.</p>

      <p>Avec divers acteurs : Chefs de projets, responsables de service, consultants, business analyst, ...</p>

      <p>Dans un contexte de réponse à appel d'offre.</p>

      <p>Compétences : Esprit de synthèse | Représentation schématique explicative | Travail d'équipe | Communication | Rigueur | Organisation </p>
      
      </div>

    </div>

    <div class="list card">
    
      <p class="intitulé">Chef de projet étudiant, Laboratoires ANIOS :</p>
      
      <div class="col col-90 column-connexion">
      
      <p>Développement JEE d'une application de gestion de projet.</p>
      
      </div>

    </div>

    <div class="list card">
    
      <p class="intitulé">Responsable communication, HEI Micro :</p>
      
      <div class="col col-90 column-connexion">
      
      <p>Promotion de l'association.</p> 
      <p>Récupération des demandes de réparation.</p> 
      <p>Community manager de la page FB de l'asso.</p> 
      <p>Réparation d'ordinateur pendant les permanences, dans un local fourni par l'école, de façon hebdomadaire.</p>
      
      </div>

    </div>

    <div class="list card">
    
      <p class="intitulé">Opérateur en conditionnement, Laboratoires ANIOS :</p>
      
      <div class="col col-90 column-connexion">
      
      <p>Travail d'été.</p> 
      <p>Stage ouvrier.</p> 
    
      </div>

    </div>
   
  </ion-content>
</ion-view>
