<ion-view view-title="">
  <ion-content>
    <div class="list card">
    
      <p class="intitulé">Eurasian National University, Astana :</p>
      <div class="col col-90 column-connexion">
     
       <p>Semestre d'étude universitaire au Kazakhstan.</p>
   
      </div>

    </div>
    <div class="list card">
    
      <p class="intitulé">HEI, Lille :</p>
      
      <div class="col col-90 column-connexion">
      
      <p>Ecole généraliste avec spécialisation en informatique et technologies de l'information.</p>
      
      </div>

    </div>

    <div class="list card">
    
      <p class="intitulé">Langues :</p>
      
      <div class="col col-90 column-connexion">
      
      <p>Anglais, niveau avancé, C1 attesté par diplôme.</p>
      <p>Espagnol, niveau bon, B2 non attesté.</p>
      <p>Russe, niveau débutant, 2 ans en cours du soir.</p>
      
      </div>

    </div>

  </ion-content>
</ion-view>
