<ion-view view-title="">
  <ion-content class="has-header">
    
	<div class="list card">
    
      <p class="intitulé">Pratique de la musique en amateur :</p>
      
      <div class="col col-90 column-connexion">
      
	      <p>Guitare, 4 ans.</p>
	      <p>Piano, 3 ans.</p>
	      <p>Batterie, autodidacte.</p>
	      <p>Enregistrement occasionnel, pratique en groupe d'amis.</p> 
    
      </div>

    </div>

    <div class="list card">
    
      <p class="intitulé">Pratique du sport :</p>
      
      <div class="col col-90 column-connexion">
      
	      <p>Athlétisme, 6 ans en compétition.</p>
	      <p>Football, 5 ans.</p>
	      <p>Judo, 2 ans.</p>
	      <p>Natation, 2 ans.</p>
	      <p>Squash, 1 semestre.</p> 
    
      </div>

    </div>

  </ion-content>
</ion-view>
